body {
    background-color: #ccecf9;
}
header {
    background-color: #fff;
}
#logo {
    width: 200px;
    margin-left: calc(50vw - 100px);
}

.card {
    border: none;
    background-color: #ccecf9;
    padding: 20px;

}
input {
    margin-bottom: 1em;
}
h1 {
    background-color: #ff5e5e;
    margin-bottom: 0;
    text-align: center;
}

.card-body {
    text-align: center;
}
.card-title {
    margin-bottom: 1.5em;
}
h5 {
    background-color: white;
    display: inline-block;
    padding: 0 15px;
    border-radius: 10px;
}

.col-md-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img {
 border: 5px solid white;
 box-shadow: 1px 2px 10px #0000001a;
}

@media screen and (min-width: 768px) {
    .my-text-scroll {
        max-height: calc(58.33vw / 1.9);
        overflow: auto;
    }
    .my-text-scroll2 {
        max-height: calc(58.33vw / 1.6);
        overflow: auto;
    }
}

@media screen and (max-width: 767px) {
    .gauche {
        order: 2;
    }
}

footer {
    background-color: #c6c6c6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    margin-top: 20px;
}

.sociaux {
    padding-right: 20px;
    padding-left: 20px;
}
footer {
    background-color: #fff;
}
footer>p {
    padding-top: 50px;
}

.sociaux>img {
    width: 60px;
}

